:root{
    --theLight :#BBD6B8;
    --theDarker :  #eee;
    --theLighter : #BAD7E9;
    --theRed : #EB455F;
    --theDark : #50555C;
}
@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous-Regular.ttf") format("truetype") ;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}
::selection{
  background: var(--theDark);
  color: var(--theDarker);
}
body{
    background-color: var(--theDarker);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu";

}
.main_container{
    background-color: var(--theLight);
    border-radius: 4px;
    padding: 15px;
    margin-top: 5%;
    -webkit-box-shadow: -1px 3px 24px 1px var(--theDark);
    -moz-box-shadow: -1px 3px 24px 1px var(--theDark);
    box-shadow: -1px 3px 24px 1px var(--theDark);
    
}
li{
  display: inline;
}
input.mainInput{
    width: 100%;
    background-color: var(--theLighter);
    border:0px solid var(--theDarker);
    border-radius: 4px;
    padding: 20px 0;
    text-align: center;
    color:var(--theDark);
    font-size: 2rem;
    font-weight: bold;
}
input.notInclude{
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    border:0px solid #fff;
    border-radius: 4px;
    background-color: var(--theDarker);
}
button.generateButton {
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    border:0px solid #fff;
    background-color: var(--theRed);
    color: #fff;
    border-radius: 4px;
    transition: ease 0.2s;
}
button.generateButton:hover,button.generateButton.focus{
    background-color: #d13d54;
}
.check_boxes{
    margin: 15px 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color:var(--theDark);
}
.check_label{
    display: block;
    margin: 5px 0;
}
h1.heading{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Righteous";
  color: var(--theDark);
}
.footer{
  background-color: var(--theLighter);
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  color: var(--theDark);
}
.footer>a{
  color:var(--theRed);
}
.footer>a:hover{
  color: var(--theRed);
}
/* Styling range input */
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: var(--theLight);
  }
input[type=range]:focus {
    outline: none;
  }
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
  }
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: var(--theRed);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
  }
input[type=range]:focus::-webkit-slider-runnable-track {
    color: var(--theDark);
  }
input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    color: var(--theDark);
    border-radius: 14px;
    border: 0px solid #000000;
  }
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: var(--theRed);
    cursor: pointer;
  }
input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
input[type=range]::-ms-fill-lower {
    color: var(--theDark);
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
input[type=range]::-ms-fill-upper {
    color: var(--theDark);
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
  }
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: var(--theRed);
    cursor: pointer;
  }
input[type=range]:focus::-ms-fill-lower {
    color: var(--theDark);
  }
input[type=range]:focus::-ms-fill-upper {
    color: var(--theDark);
}
.range-container {
    position: relative;
    display: flex;
    align-items: center;
}
#password-length-value {
    display: inline-block;
    font-size:2rem;
    margin-left: 10px;
    color:var(--theDark);
}

/* CheckBox styling */
[type=checkbox] {
  width: 2rem;
  height: 2rem;
  color: var(--theRed);
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background 300ms;
  cursor: pointer;
}
[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}
[type=checkbox]:checked {
  background-color: currentcolor;
}
[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
[type=checkbox]:disabled {
  background-color: #CCD3D8;
  opacity: 0.84;
  cursor: not-allowed;
}
[type=checkbox]::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}
[type=checkbox]:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


@media only screen and (max-width: 768px) {
    input.notInclude{
      margin-bottom : 15px;
    }
  }
  
